@import "./variables.scss";

@mixin gradient($direction, $list) {
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);
}

@mixin backgroundWrapper() {
  @include gradient(to bottom, $header-overlay-gradient-color-list);
}
