.AuthContainer {
  height: 100vh;
}

.AuthMidContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.LogoContainer {
  display: flex;
  justify-content: center;

  text-align: center;
}

.BoxContainer {
  display: flex;
  justify-content: center;

  margin-top: 75px;
}
